html {
    background-color: #f1f5f9;
    font-family: sans-serif;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;

}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
    color: #1a1a1a;
}

h2 {
    margin: 1rem 0 0.25rem;
    color: #1a1a1a;
}

h3 {
    margin: 0.1rem 0 0.75rem;
    color: #1a1a1a;
    font-size: 1.1rem;
    font-weight: normal;
}

/* nav styles */

.menu {
    background-color: #0d0950;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px 10px;
}

#main-menu a {
    text-decoration: none;
}


.nav-links {
    width: 100%;
    display: none;
    margin: 0;
}

.nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #0d0950;
}

.nav-links a:hover,
.nav-links a:focus {
    background-color: #ff9776;
}

@media screen and (min-width: 636px) {
    .nav-links {
        margin-left: 5em;
        display: block;
        position: static;
        width: auto;
        background: none;
    }

    .nav-links a {
        display: inline-block;
        padding: 15px 20px;
    }
}

html.dark {
    background-color: #13181c;
    color: #f4f4f4;
}

.dark .menu {
    background-color: #fff;
    color: #000;
}

.dark .nav-links a:hover,
.dark .nav-links a:focus {
    color: #0d0950;
}

.dark .nav-links a {
    color: #fff;
}

.dark a {
    color: #ff9776;
}

.dark h1 {
    color: #f4f4f4;
}

.dark h2 {
    color: #f4f4f4;
}

.dark h3 {
    color: #f4f4f4;
}